html,
body {
    margin: 0;
    height: 100%;
}
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
p {
    margin-top: 0;
}

.container {
    height: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
}
