.button {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
    line-height: 24px;
    color: #f8f8f8;
    border: 1px solid #dbdbdb;
    background-color: #346cef;
    text-decoration: none;
    &a {
        line-height: 2;
    }
    &__icon {
        display: none;
        font-size: 7px;
        vertical-align: middle;
        line-height: 1;
    }
    &--alt {
        background-color: #52965e;
        line-height: 2;
    }
}
