.upload {
    position: absolute;
    top: 5%;
    left: 5%;
    display: flex;
    width: 90%;
    height: 90%;
    justify-content: center;
    align-items: center;
    border: 1px solid #dbdbdb;
    background-color: #fff;
    box-shadow: 0 0px 10px #dbdbdb;
    &__cancel {
        position: absolute;
        top: 20px;
        right: 20px;
        display: none;
        color: #55a1e6;
        text-decoration: none;
    }
    &__dropzone {
        display: flex;
        width: 90%;
        height: 55%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        overflow: auto;
        border: 1px dashed #dbdbdb;
    }
    &__dropzone-icon {
        font-size: 60px;
    }
    &__select {
        position: relative;
        top: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 24px;
        transform: translateY(-50%);
    }
    &__dropzone.dz-started {
        .upload__select {
            display: none;
        }
    }
    .dz-preview {
        position: relative;
        display: flex;
        width: 80%;
        margin-top: 10px;
        margin-bottom: 10px;
        align-items: center;
        flex-wrap: wrap;
        flex-shrink: 0;
    }
    .dz-image {
        width: 70px;
        img {
            max-width: 100%;
        }
    }
    .dz-details {
        max-width: 300px;
        word-break: break-word;
    }
    .dz-progress {
        width: 100%;
        height: 30px;
        flex-grow: 1;
        flex-shrink: 0;
        align-self: flex-start;
        border: 1px solid #dbdbdb;
    }
    .dz-complete .dz-progress {
        display: none;
    }
    .dz-upload {
        display: block;
        width: 100%;
        height: 100%;
        background-color: #55a1e6;
    }
    .dz-error-message {
        display: none;
        align-self: flex-start;
    }
    .dz-complete .dz-error-message {
        display: block;
    }
    .dz-success-mark,
    .dz-error-mark {
        display: none;
    }
    .dz-remove {
        position: absolute;
        top: 0;
        right: 0;
        color: #55a1e6;
    }
    &--hidden {
        display: none;
    }
}
