.workspace-navigation {
    position: relative;
    display: flex;
    flex-direction: column;
    &__title {
        position: absolute;
        top: 0;
        width: 100%;
        padding: 20px;
        background-color: #fff;
        z-index: 2;
        border-bottom: 1px solid #dbdbdb;
    }
    &__list {
        position: relative;
        display: flex;
        margin: 60px 0 0 0;
        padding: 20px 20px;
        flex-direction: column;
        flex-grow: 1;
        align-items: center;
        list-style: none;
        overflow: auto;
        .ui-state-highlight {
            width: 100%;
            border: 1px dashed #dbdbdb;
            background-color: #f8f8f8;
        }
    }
    &__list-item {
        position: relative;
        width: 100%;
        margin-bottom: 20px;
        flex-shrink: 0;
        img {
            max-width: 100%;
            border: 2px solid transparent;
            transition: border 350ms ease;
        }
        &:last-of-type {
            margin-bottom: 0;
        }
        &--active,
        &:hover {
            .workspace-navigation__delete-page {
                display: inline-block;
            }
            img {
                border: 2px solid #346cef;
            }
        }
    }
    &__add {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100px;
        flex-shrink: 0;
        background-color: #dbdbdb;
        border-top: 1px solid black;
        cursor: pointer;
    }
    &__add-icon {
        font-size: 24px;
    }
    &__delete-page {
        position: absolute;
        right: -0.6em;
        top: -0.6em;
        display: none;
        font-size: 21px;
        cursor: pointer;
    }
}
